/* Resetowanie marginesów i paddingów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #ff6347;
    margin-bottom: 20px;
}

.clicker-button {
    width: 150px;
    height: 150px;
    background-color: #ff6347;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    position: relative;
}

.clicker-button:active {
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.clicker-image {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

/* Animacja aktywnego kliknięcia */
.clicker-button.active {
    animation: click-animation 0.2s ease-in-out;
}

@keyframes click-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

p {
    font-size: 18px;
    margin: 10px 0;
}

#leaderboard {
    margin-top: 20px;
    text-align: left;
}

.leaderboard-entry {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

.leaderboard-entry:last-child {
    border-bottom: none;
}

/* Timer Styling */
#timer {
    font-weight: bold;
    color: #ff6347;
}
